.container-seccion1{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.izquierda{
    width: 20%;
    background-color: gray;
}

.derecha{
    background-color: black;
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
}