div{
    margin-top: 1em;
    border: 1px solid #858585;
    box-shadow: 0px 0px 2px inset ;
    width: 300px;
    height: 50px;
    justify-content:center;
    align-items: center;
}
  
#dnombre{
    display: none;
   
}

#dcorreo{
    display: none;
}

#dcomentario{
    display: none;
}

#denviar{
    display: none;
}

#dreset{
    display: none;
}